/.htaccess
.idea/
build/
.DS_Store
/administrator/cache/*
/administrator/components/*
/administrator/help/*
/administrator/includes/*
/administrator/language/en-GB/*
/administrator/language/overrides/*
/administrator/logs/*
/administrator/manifests/files/*
/administrator/manifests/libraries/*
/administrator/manifests/packages/*
/administrator/modules/*
/administrator/templates/*
/administrator/index.php
/cache/*
/bin/*
/cli/*
/components/*
/images/*
/installation/*
/includes/*
/language/en-GB/*
/language/overrides/*
/language/index.html
/layouts/*
/libraries/*
/media/*
/modules/*
/plugins/*
!/plugins/system/
/plugins/system/*
!/plugins/extension/
/plugins/extension/*
/templates/*
/tmp/*
/configuration.php
/index.php
/joomla.xml
/*.txt
/robots.txt.dist
*.zip

!/administrator/components/com_st_manager
!/components/com_st_manager
!/administrator/language/en-GB/*st_manager*
!/administrator/language/en-GB/*stm_*
!/administrator/language/ru-RU/*st_manager*
!/administrator/language/ru-RU/*stm_*
!/plugins/*/stm_*
!/language/en-GB/*st_manager*
!/language/en-GB/*stm_*
!/administrator/manifests/packages/pkg_st_manager.xml
!/administrator/manifests/libraries/smartcat_api.xml
